In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import os
from zipfile import ZipFile
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.chdir("/Users/anhthyngo/Documents/NYU/Fall 2019/DS-GA 1001/project/ds-ga1001/")

In [3]:
cwd = os.getcwd()
datadir = '/'.join(cwd.split('/')) + '/data/'
cal = datadir + 'calendar.csv.zip'
listings = datadir + 'airbnb_clean.csv'

In [4]:
print(listings)
print(cal)

/Users/anhthyngo/Documents/NYU/Fall 2019/DS-GA 1001/project/ds-ga1001/data/airbnb_clean.csv
/Users/anhthyngo/Documents/NYU/Fall 2019/DS-GA 1001/project/ds-ga1001/data/calendar.csv.zip

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
zb = ZipFile(cal)
cal = pd.read_csv(zb.open("calendar.csv"),low_memory=False)
data = pd.read_csv(listings,low_memory=False)

In [6]:
cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,9668,2019-09-13,f,$51.00,$51.00,3.0,365.0
1,26969,2019-09-13,f,$350.00,$350.00,3.0,33.0
2,26969,2019-09-14,f,$350.00,$350.00,3.0,33.0
3,26969,2019-09-15,f,$350.00,$350.00,3.0,33.0
4,26969,2019-09-16,f,$350.00,$350.00,3.0,33.0

In [7]:
cal = cal[['listing_id','date','price']]

In [8]:
cal.head()

   listing_id        date    price
0        9668  2019-09-13   $51.00
1       26969  2019-09-13  $350.00
2       26969  2019-09-14  $350.00
3       26969  2019-09-15  $350.00
4       26969  2019-09-16  $350.00

In [9]:
cal['price'] = cal['price'].str.replace('$', '')
cal['price'] = cal['price'].str.replace(',', '').astype(float)
cal.head()

   listing_id        date  price
0        9668  2019-09-13   51.0
1       26969  2019-09-13  350.0
2       26969  2019-09-14  350.0
3       26969  2019-09-15  350.0
4       26969  2019-09-16  350.0

In [ ]:
cal['date'].astype('datetime64[ns]')

In [ ]:
cal.head()